:root{
    --color-purple : #44355b;
    --color-light-purple : #b79edb;

    --color-dark-orange : #e65c04;
    --color-orange : #f48c06;

    --color-green : #095b16;
    --color-light-green : #28a745;

    --color-sable : #feeab7;
    --color-light-sable : #fff9ea;
    --color-dutch-white : #fff3d2 ;
    --color-dutch-white-transparent : #fff3d29c ;

    --color-white-transparent : #ffffff9d;

    --color-black : #000000;
    --color-grey : #2c2c2c;
    --color-dark-grey : #1d1d1d;

    --color-purple-transparent : #44355b99;
    --color-light-purple-transparent : #b79edb99;

    --color-dark-orange-transparent : #e65c0480;
    --color-orange-transparent : #f48c0680;

    --color-gradient-transparent-to-light-green: linear-gradient(to bottom, transparent 0%, #28a745 30%, #28a745 100%);
    --color-gradient-transparent-from-light-green: linear-gradient(to bottom, #28a745 0%, #28a745 95%, transparent 100%);
    --color-gradient-transparent-to-grey: linear-gradient(to bottom, transparent 0%, #2c2c2c 30%, #2c2c2c 100%);
    --color-gradient-transparent-from-grey: linear-gradient(to bottom, #2c2c2c 0%, #2c2c2c 95%, transparent 100%);

    --color-gradient-transparent-to-orange: linear-gradient(to bottom, transparent 0%, #f48c06 50%, transparent 100%);

}