html { 
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

.body-modal-open {
    overflow: hidden !important;
    position: fixed;
    width: 100%;
}


.bcg-blur{
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.07);
    border-radius: 20px;
}

.bcg-blur-white{
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.07);
    border-radius: 20px;
    border-radius: 30px;
    background-color: var(--color-white-transparent);
    color: black;
    position: relative;           
    padding: 1em;
    height: fit-content;

}

.navbar-item {
    text-decoration: none !important; /* enlever le soulignement - sur github pages surtout */
}

.navbar-item:hover {
    text-decoration: none !important; 
}

.is-CTA {
    font-size: 24px;
}

.bcg-blur-bulles{
    width: fit-content;
}
[data-theme="dark"]
    .bcg-blur-bulles{
        background-color: var(--color-purple-transparent);
    }
[data-theme="light"]
    {
        .bcg-blur-bulles{
            background-color: var(--color-white-transparent);
        }
    }